body {
    width: 700px;
    margin: auto;
    background-color: darkgreen;
}

h2 {
  background-color: darkolivegreen;
  text-align: center;
  padding: 30px;
  border: 5px;
  border-color: darkslategrey;
  border-style: double;
  box-shadow: 20px 20px 50px rgb(0, 0, 0);
}

p {
  text-align: center;
  padding-top: 50px;
}

table {
    border: 1px solid;
    border-collapse: collapse;
    width: 300px;
    margin: auto;
  }

  th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px;
    border-color: grey;
  }