body {
    width: 700px;
    margin: auto;
}

table {
    border: 1px solid;
    border-collapse: collapse;
    width: 300px;
    margin: auto;
  }

  th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px;
    border-color: grey;
  }